body{
    background-color:#5c5470c0;
}

.card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 10px;
    column-gap: 10px;
    color: rgb(255, 255, 255);
 font-family: "Verdana, Geneva, Tahoma, sans-serif"
 
}
.img{
    border-radius: 20px 20px 0;
    width: 280px;
    height: 280px;
    background-position: center;
    overflow: hidden;
}
.fullCard{
    
    background-color: #dbdbdb;
    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 20px 3px #616060;
    border:  1px solid rgba(255, 255, 255, 0.103);

}
.fullCard:hover{
     transform: scale(1.09);
     transition: 0.5s ease;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 100px 8px 100px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 10px;

  }
input:focus{
    border: 3px solid #555;

}
h3{
    text-transform: capitalize;
    color: #616060;
}
#myInput{
    margin: 30px auto;
    width: 90%;
    display: flex;
    
}
.delete{
    padding: 10px;
    width: 100%;
    border-radius: 0px 20px 0 0 ;
    display: flex;
    border: none;
    margin-top: 5px;
    margin-bottom: 0;
    justify-content: center;
    background-color: #bdb4a2;
    font-size: medium;

}
.delete:hover{
    background-color: #78b7bb;;
    transition: 300ms;
  
}
.createCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px auto;
    width: 90%;
    border: 1px solid rgba(163, 163, 163, 0.699);
    padding: 20px;
}
/* .addCardInput{
    margin: 10px auto;
    width: 90%;

} */
.addButoon{
    display: flex;
    /* margin: 10px auto; */
    /* padding: 10px; */
    width: 20%;
    align-items: center;
    justify-content: center;
}